<div class="container">
    <form action="/add" method="POST">
        Enter first value:
        <div class="form-group">
            <input
                    type="number"
                    class="form-control"
                    id="firstValue"
                    placeholder="first value"
                    name="firstValue"
                    step="any">
        </div>
        Enter second value:
        <div class="form-group">
            <input
                    type="number"
                    class="form-control"
                    id="secondValue"
                    placeholder="second value"
                    name="secondValue"
                    step="any">
        </div>
        <button type="submit" class="btn btn-success">Enter</button>
    </form>
</div>