<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calculator</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <meta name="theme-color" content="#7952b3">
    <link href="/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Calculator</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
<main class="flex-shrink-0">
    <div class="container">
        <form action="/calculate" method="POST">
            Enter first value:
            <div class="form-group">
                <input type="number" class="form-control" id="firstValue" placeholder="first value"
                       name="firstValue" min="0" step="any" style="width:70%">
                <select name="units1" id="units1" class="form-control" type="text" placeholder="Enter units1"
                        style="width:25%">
                    <option value="m">m</option>
                    <option value="ft">ft</option>
                    <option value="NM">NM</option>
                </select>
            </div>
            <br>
            <div>
                <label for="type">Choose type of calculation:</label>
                <br>
                <input type="radio" name="type" id="type" value="+" checked/> +
                <br>
                <input type="radio" name="type" id="type" value="-"/> -
                <br>
                <input type="radio" name="type" id="type" value="*"/> *
                <br>
                <input type="radio" name="type" id="type" value="/"/> /
            </div>
            <br>
            Enter second value:
            <div class="form-group">
                <input type="number" class="form-control" id="secondValue" placeholder="second value"
                       name="secondValue" min="0" step="any" style="width:70%">
                <select name="units2" id="units2" class="form-control" type="text" placeholder="Enter units2"
                        style="width:25%">
                    <option value="m">m</option>
                    <option value="ft">ft</option>
                    <option value="NM">NM</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <input type="number" class="form-control" id="result" placeholder="result" name="result"
                       step="any" disabled style="width:70%">
                <select name="units3" id="units3" class="form-control" type="text" placeholder="Enter units3"
                        style="width:25%">
                    <option value="m">m</option>
                    <option value="ft">ft</option>
                    <option value="NM">NM</option>
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Calculate</button>
        </form>
    </div>
</main>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">&copy; tomek.ginszt</span>
    </div>
</footer>
</body>
</html>