<form>
    <label>First value:  <input name="firstValue" type="number" ></label>
    <select>
        <option value="m">m</option>
        <option value="ft">ft</option>
        <option value="NM">NM</option>
    </select>
    <br>

    <label>Second value: <input name="secondValue" type="number"></label>
    <select>
        <option value="m">m</option>
        <option value="ft">ft</option>
        <option value="NM">NM</option>
    </select>
    <br>

    <select>
        <option value="m">m</option>
        <option value="ft">ft</option>
        <option value="NM">NM</option>
    </select>
    <input name="result" type="submit" value="=">

</form>