<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calculator</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <meta name="theme-color" content="#7952b3">
    <link href="/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body>
<h2>WARNING</h2>
</body>
</html><!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calculator</title>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <meta name="theme-color" content="#7952b3">
    <link href="/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Calculator</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
<main class="flex-shrink-0">
    <h2><br> WARNING</h2>
    <h3>Do not divide by 0!</h3>
</main>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">&copy; tomek.ginszt</span>
    </div>
</footer>
</body>
</html>